{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<style>
    /* Style to position buttons on top of the image */
    .image-container {
        position: relative;
    }

    .button-container {
        position: absolute;
        top: 55%; /* Adjust this value to lower or raise the buttons */
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-container a {
        display: inline-block; /* Change display from 'block' to 'inline-block' */
        margin: 0 5px; /* Add some horizontal margin between buttons if desired */
    }
</style>
<br>
<br>
<br>
<br>

<div class="image-container">
    <div class="button-container">
        <a href="{% url 'service' %}" class="btn btn-secondary btn-lg">Barbershop Supplies</a>
        <a href="{% url 'products' %}" class="btn btn-secondary btn-lg">Beverages</a>
        <a href="{% url 'inventory' %}" class="btn btn-secondary btn-lg">Current Stock</a>
    </div>
</div>

{% endblock %}
