{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
	  	Beverage
	  </td>
      {% for i in products %}
        {% if forloop.counter == 1 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
      Beverage
    </td>

      {% for i in products %}
        {% if forloop.counter == 2 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
      Beverage
    </td>

      {% for i in products %}
        {% if forloop.counter == 3 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 4 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    <tr>
      <th scope="row">5</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 5 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 6 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 7 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 8 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 9 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 10 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 11 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 12 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 13 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 14 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">15</th>
     <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 15 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 16 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 17 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 18 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 19 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 20 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 21 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 22 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>
      Beverage
    </td>
      {% for i in products %}
        {% if forloop.counter == 23 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
      Supplies
    </td>
      {% for i in supplie %}
        {% if forloop.counter == 1 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
      Supplies
    </td>

      {% for i in supplie %}
        {% if forloop.counter == 2 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
      Supplies
    </td>

      {% for i in supplie %}
        {% if forloop.counter == 3 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
      Supplies
    </td>

      {% for i in supplie %}
        {% if forloop.counter == 4 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>
      Supplies
    </td>

      {% for i in supplie %}
        {% if forloop.counter == 5 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>
      Supplies
    </td>

      {% for i in supplie %}
        {% if forloop.counter == 6 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>



  
  </tbody>
</table>

<a href="{% url 'home' %}" class="btn btn-primary btn-lg enabled" role="button" aria-disabled="false">Back</a>

{% endblock %}


