{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}




<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
	  	<img src="{% static 'images/A.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 1 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
	  	<img src="{% static 'images/B.png' %}" width="100" height="100">
	  </td>

      {% for i in products %}
        {% if forloop.counter == 2 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
	  	<img src="{% static 'images/C.png' %}" width="100" height="100">
	  </td>

      {% for i in products %}
        {% if forloop.counter == 3 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
	  	<img src="{% static 'images/D.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 4 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    <tr>
      <th scope="row">5</th>
      <td>
	  	<img src="{% static 'images/E.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 5 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>
	  	<img src="{% static 'images/F.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 6 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>
	  	<img src="{% static 'images/G.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 7 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>
	  	<img src="{% static 'images/H.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 8 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>
	  	<img src="{% static 'images/I.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 9 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>
	  	<img src="{% static 'images/J.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 10 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>
	  	<img src="{% static 'images/K.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 11 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>
	  	<img src="{% static 'images/L.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 12 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>
	  	<img src="{% static 'images/M.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 13 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>
	  	<img src="{% static 'images/N.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 14 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>
	  	<img src="{% static 'images/O.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 15 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>
	  	<img src="{% static 'images/P.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 16 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>
	  	<img src="{% static 'images/Q.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 17 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>
	  	<img src="{% static 'images/R.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 18 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>
	  	<img src="{% static 'images/S.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 19 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>
	  	<img src="{% static 'images/T.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 20 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">21</th>
      <td>
	  	<img src="{% static 'images/U.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 21 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">22</th>
      <td>
	  	<img src="{% static 'images/V.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 22 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">23</th>
      <td>
	  	<img src="{% static 'images/W.png' %}" width="100" height="100">
	  </td>
      {% for i in products %}
        {% if forloop.counter == 23 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
	  	<img src="{% static 'images/1.png' %}" width="100" height="100">
	  </td>
      {% for i in supplie %}
        {% if forloop.counter == 1 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
	  	<img src="{% static 'images/2.png' %}" width="100" height="100">
	  </td>
      {% for i in supplie %}
        {% if forloop.counter == 2 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
	  	<img src="{% static 'images/3.png' %}" width="100" height="100">
	  </td>
      {% for i in supplie %}
        {% if forloop.counter == 3 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
	  	<img src="{% static 'images/4.png' %}" width="100" height="100">
	  </td>
      {% for i in supplie %}
        {% if forloop.counter == 4 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>
	  	<img src="{% static 'images/5.png' %}" width="100" height="100">
	  </td>
      {% for i in supplie %}
        {% if forloop.counter == 5 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>
	  	<img src="{% static 'images/6.png' %}" width="100" height="100">
	  </td>
      {% for i in supplie %}
        {% if forloop.counter == 6 %}
          <td>{{ i.name }}</td>
          <td>{{ i.amount }}</td>
        {% endif %}
      {% endfor %}
    </tr>



  
  </tbody>
</table>

<a href="{% url 'home' %}" class="btn btn-primary btn-lg enabled" role="button" aria-disabled="false">Back</a>

{% endblock %}


